/* Селекторы header */
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    justify-content: space-between;
    padding: 92px 50px 96px 50px;
    align-items: center;
}

.header-menu{
    font-size: 18px;
    align-items: center;
}

.header-link_active{
    text-decoration: none;
    list-style: none;
}

.header-links-list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: circle;
    gap: 30px
} 

.header-logo{
    min-width: 130px;
    padding: 0px;
    margin: 0px;
}

.header-adress{
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}
/* Селекторы для cover*/

.cover{
    position: relative;
    background-image: url("../images/cover.jpg");
    min-height: 757px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.cover-content{
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 165px 50px 50px 50px;
}

.title-cover{
    display: flex;
    flex-direction: column;
    margin-bottom: 106px;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 30px;
    line-height: 131%;
    text-transform: uppercase;
}

.description-cover{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    word-spacing: 18px;
}

.overlay{
    background: rgba(0, 0, 0, 0.6);
    height: 100%;  
    width: 100%;
    position: absolute;
    z-index: 1;
}

.title-upper-row{
    text-align: left;
}

.title-middle-row{
    text-align: center;
    margin-right: -30px;
}

.title-lower-row{
    text-align: right;
    margin-right: -30px;
}

.button-cover{
    border: 1px solid #fff;
    padding: 12px 32px;
    color: inherit;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    transition: transform 0.3s ease;
    cursor: pointer;
}

/* Селекторы для cover*/

.lots-card-list{
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
    margin: 0; 
    padding-bottom: 30px; 
}

.lots-heading{
    font-size: 40px;
    font-weight: bold;
    padding: 180px 40px 27px 64px;
    text-transform: uppercase;
    display: block;
}

.lot-card{
    min-height: 596px;
    width: 334px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-content{
    display: flex;
    flex-direction: column;
    /* justify-items: space-between; */
    padding: 48px 40px 48px 40px;
    min-height: 596px;
    width: 334px;
    position: relative;
    z-index: 2;
}

.card-title{
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.card-text{
    color: white; 
    font-size: 20px;
    line-height: 120%;
    margin-top: auto;
}

.card-type-film{
    background-image: url("../images/card-lot-01.jpg");
}

.card-type-book{
    background-image: url("../images/card-lot-02.jpg");
}

.card-type-picture{
    background-image: url("../images/card-lot-03.jpg");
}

.lots-look-more-link{
    padding: 30px 64px 30px 64px;
    font-size: 20px;
}
.lot-link{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}

/* Селекторы для about*/

.about{
    display: grid;
    grid-template-columns: 32% auto;
    column-gap: 25px;
    justify-items: center;
    margin-top: 120px;
    padding: 35px 24px 0px 24px;
}

.logo-about{
    display: flex;
    background-color:  #000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
}

.logo-about-image{
    width: 148px;
    height: 114px;
}

.title-about{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 100px;
}

.description-about{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    gap: 1rem;
}


/* Селекторы для footer*/
.footer{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 180px;
    padding: 0px 50px 82px 50px;

}

.menu-footer{
    list-style: none;
    text-align: center;

}
.footer-link_active{
    text-decoration: none;
    list-style: none;

}
.socials-footer{
    display: flex;
    justify-content: space-between;
    min-width: 240px;
}

.social-logo{
    height: 48px;
    width: 48px;
}

.footer-links-list{
    list-style-type: none;
}
.footer-adress{
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}